/* Mobile and Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
    }
    .header__cart-list::after {
        display: none;
    }
    .app_container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height) - 14px);
    }
    .header__sort-bar {
        display: flex;
    }
    .mobile-category {
        display: block;
    }

    /* Cart Page */
    .cart-page {
        zoom: 0.5;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 86px;
        --navbar-height: 0px;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__logo {
        width: 170px;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
    button.product-action-btn {
        min-width: 140px;
    }

    /* Cart Page */
    .cart-page {
        zoom: 0.5;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header__logo {
        width: unset;
    }
    .header__cart {
        width: unset;
        text-align: right;
    }
    .header__mobile-search {
        display: block;
    }
    .header__search {
        position: fixed;
        z-index: 1;
        height: 60px;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 12px 12px;
        background-color: rgb(247, 247, 247);
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }
    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 1.5);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .header__search-input-wrap {
        border: 1px solid #ccc;
        border-radius: 2px;
    }
    .header__mobile-search-icon {
        padding-top: 6px;
    }
    .header__logo-img {
        width: 110px;
    }
    .footer__content {
        margin-left: 18px;
    }
    .pagination-link {
        margin: 0 4px;
    }
    button.product-action-btn {
        min-width: 140px;
    }
    span.sale-off {
        display: none;
    }

    /* CartPage */
    .cart-page {
        zoom: 0.3;
    }
}
